:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--body-bg-color);
}



aside{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 200vh;
  margin: 40px;  
}


.card {  
  background-color: var(--bg-cards);
  border-radius: 20px;
  margin: 30px;
}

.card-foto {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-items: center;
}

.card-foto img {
  height: 50%;
  width: 37%;
  margin-top: 10%;
  margin-left: 33%;
  border: solid 5px rgb(134, 209, 23);
  border-radius: 50%;
}

.card-foto .titulos{
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  text-align: center;

}

h2, p, li {
  color: var(--text-color);
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}

li {
  font-size: small;
}

.card-contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-items: left;
}

.card-contato ul {
  display: block;  
  list-style: none;
  align-items: center;
  width: 80%;
  height: 20px;
  margin-top: 25px;
  margin-left: 10%;
  align-items: center;
  
}

.card-contato span {
  margin-left: 5%;
}

.card-contato ul li {
  margin-top: 3%;
}

.card-contato img path {
  height: 5%;
  color: #302F3D;
}

.card-techs {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-items: left;
}

.card-techs h2 {
  margin: 10% 30%;  
}

.card-techs .techs {
  margin-left: 5%;
}

.card-techs .techs button{
  margin: 3%;
  width: 25%;
  height: 15%;
  font-size: 1rem;
  background-color: rgb(237, 149, 196);
  border: 0;
  border-radius: 10px;
}

.card-exp {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
 
  justify-items: left;
}

.card-exp h2 {
  margin: 10% 0 5% 25%;
  
}

.card-exp h4 {
  font-size: large;
}

.card-exp ul {
  margin-left: 15%;
}

.card-exp ul li {
  margin-top: 10px;
}













